<div class="container">
<div class="well">
  <div class="row">
    <h2>Home gallary</h2>
  </div>
  <div class='row'>
    <div class='col-md-12'>
      <div class="carousel slide media-carousel" id="media">
        <div class="carousel-inner">
          <div class="item  active">
            <div class="row">
              <div class="col-md-2">
                <a class="thumbnail" href="#"><%= image_tag "img1.jpg", alt: "Slide Image" %></a>
              </div>          
              <div class="col-md-2">
                 <a class="thumbnail" href="#"><%= image_tag "img2.jpg", alt: "Slide Image" %></a>
              </div>
              <div class="col-md-2">
                <a class="thumbnail" href="#"><%= image_tag "img3.jpg", alt: "Slide Image" %></a>
              </div> 
              <div class="col-md-2">
                <a class="thumbnail" href="#"><%= image_tag "img4.jpg", alt: "Slide Image" %></a>
              </div>        
              <div class="col-md-2">
               <a class="thumbnail" href="#"><%= image_tag "img5.jpg", alt: "Slide Image" %></a>
              </div> 
              <div class="col-md-2">
                <a class="thumbnail" href="#"><%= image_tag "img6.jpg", alt: "Slide Image" %></a>
              </div>
            </div>
          </div>
           <div class="item">
           <div class="row">
              <div class="col-md-2">
                <a class="thumbnail" href="#"><%= image_tag "img7.jpg", alt: "Slide Image" %></a>
              </div>          
              <div class="col-md-2">
                 <a class="thumbnail" href="#"><%= image_tag "img2.jpg", alt: "Slide Image" %></a>
              </div>
              <div class="col-md-2">
                <a class="thumbnail" href="#"><%= image_tag "img8.jpg", alt: "Slide Image" %></a>
              </div> 
              <div class="col-md-2">
                <a class="thumbnail" href="#"><%= image_tag "img4.jpg", alt: "Slide Image" %></a>
              </div>        
              <div class="col-md-2">
               <a class="thumbnail" href="#"><%= image_tag "img9.jpg", alt: "Slide Image" %></a>
              </div> 
              <div class="col-md-2">
                <a class="thumbnail" href="#"><%= image_tag "img10.jpg", alt: "Slide Image" %></a>
              </div>
            </div>
          </div>
          <div class="item">
           <div class="row">
             <div class="col-md-2">
                <a class="thumbnail" href="#"><%= image_tag "img11.jpg", alt: "Slide Image" %></a>
              </div>          
              <div class="col-md-2">
                 <a class="thumbnail" href="#"><%= image_tag "img2.jpg", alt: "Slide Image" %></a>
              </div>
              <div class="col-md-2">
                <a class="thumbnail" href="#"><%= image_tag "img13.jpg", alt: "Slide Image" %></a>
              </div> 
              <div class="col-md-2">
                <a class="thumbnail" href="#"><%= image_tag "img14.jpg", alt: "Slide Image" %></a>
              </div>        
              <div class="col-md-2">
               <a class="thumbnail" href="#"><%= image_tag "img15.jpg", alt: "Slide Image" %></a>
              </div> 
              <div class="col-md-2">
                <a class="thumbnail" href="#"><%= image_tag "img6.jpg", alt: "Slide Image" %></a>
              </div>
            </div>
          </div>
          
        </div>
        <a data-slide="prev" href="#media" class="left carousel-control">‹</a>
        <a data-slide="next" href="#media" class="right carousel-control">›</a>
      </div>                          
    </div>
  </div>
  </div>
</div>
<!--
Bootstrap Line Tabs by @keenthemes
A component of Metronic Theme - #1 Selling Bootstrap 3 Admin Theme in Themeforest: http://j.mp/metronictheme
Licensed under MIT
-->

<div class="container">
    <div class="row">
    <div class="col-md-8">
    <div class="well">

           <div class="tabbable-panel well">
        <div class="tabbable-line">
          <ul class="nav nav-tabs ">
            <li class="active">
              <a href="#tab_default_1" data-toggle="tab">
              <i class="fa fa-eye-open"></i>Recently viewed </a>
            </li>
            <li>
              <a href="#tab_default_2" data-toggle="tab">
             <i class="fa fa-eye-open"></i> Watchlist </a>
            </li>
            <li>
              <a href="#tab_default_3" data-toggle="tab">
             <i class="fa fa-eye-open"></i> Saved search </a>
            </li>
          </ul>
          <div class="tab-content">
            <div class="tab-pane active well" id="tab_default_1">
              
          <div class="col-md-2">
                <a class="thumbnail" href="#"><%= image_tag "img7.jpg", alt: "Slide Image" %></a>
              </div>          
              <div class="col-md-2">
                 <a class="thumbnail" href="#"><%= image_tag "img2.jpg", alt: "Slide Image" %></a>
              </div>
                 
            </div>
            <div class="tab-pane well" id="tab_default_2">
                <div class="col-md-2">
                <a class="thumbnail" href="#"><%= image_tag "img8.jpg", alt: "Slide Image" %></a>
              </div> 
              <div class="col-md-2">
                <a class="thumbnail" href="#"><%= image_tag "img4.jpg", alt: "Slide Image" %></a>
              </div>        
              <div class="col-md-2">
               <a class="thumbnail" href="#"><%= image_tag "img9.jpg", alt: "Slide Image" %></a>
              </div> 
              <div class="col-md-2">
                <a class="thumbnail" href="#"><%= image_tag "img10.jpg", alt: "Slide Image" %></a>
              </div>
                        
            </div>
            <div class="tab-pane well" id="tab_default_3">
               <div class="col-md-2">
                <a class="thumbnail" href="#"><%= image_tag "img8.jpg", alt: "Slide Image" %></a>
              </div> 
              <div class="col-md-2">
                <a class="thumbnail" href="#"><%= image_tag "img4.jpg", alt: "Slide Image" %></a>
              </div>        
              
              <div class="col-md-2">
                <a class="thumbnail" href="#"><%= image_tag "img10.jpg", alt: "Slide Image" %></a>
              </div>
                        
            </div>
          </div>
        </div>
      </div>
      </div>
      </div>

      <div class="col-md-4 well" style="height:200px;">
      <h1 style="font-family:pupyrus;">Post free local ad</h1>
         <center><a href="#" class="btn btn-lg btn-warning">Get Started</a></center>
      </div>
      </div>
      </div>

      <div class="span12" style = "background-color:#123; height:80px" >
        
        <center style = "color:white; padding-top:2px;">
          <h1><i><i class="fa fa-list"></i>
Categories</i></h1>
        </center>
      </div>
<div class="container">
<div class="row">
<div class="col-md-3 well">
  <h3><i class="fa fa-car"></i>
Automotive</h3>
     <div>
       <a href="cars" class="h-elips">Cars, Vans &amp; Utes</a>
     </div>
      <div>
        <a href="#" class="h-elips">Parts &amp; Accessories</a>
      </div>                      
                
     <div>
        <a href="#" class="h-elips">Motorcycles &amp; Scooters</a>
     </div>

     <div>
         <a href="#" class="h-elips">Caravan &amp; Campervan</a>
                             
     </div>   

                 </div>

                
<div class="col-md-3 well">
  <h3><i class="fa fa-home"></i>
Home & Garden</h3>

                <dd class="">
                            <a href="#" class="h-elips">Furniture</a>
                            </dd>
                <dd class="">
                            <a href="#" class="h-elips">Appliances</a>
                            </dd>
                <dd class="">
                            <a href="#" class="h-elips">Tools &amp; DIY</a>
                            </dd>
                <dd class="">
                            <a href="#" class="h-elips">Garden</a>
                            </dd>
      </div>         
<div class="col-md-3 well">
  <h3><i class="fa fa-fire"></i>
Clothing & jewellary</h3>
 <dd class="">
                            <a href="#" class="h-elips">Women&#039;s Clothing</a>
                            </dd>
                <dd class="">
                            <a href="#" class="h-elips">Women&#039;s Shoes</a>
                            </dd>
                <dd class="">
                            <a href="#" class="h-elips">Men&#039;s Clothing</a>
                            </dd>
                <dd class="">
                            <a href="#" class="h-elips">Jewellery</a>
                            </dd>
               
</div>
<div class="col-md-3 well">
  <h3><i class="fa fa-user"></i>

Community</h3>
  <dd class="c-hide">
                            <a href="" class="h-elips">Classes</a>
                            </dd>  
                             <dd class="c-hide">
                            <a href="" class="h-elips">garage sale</a>
                            </dd>  
                             <dd class="c-hide">
                            <a href="" class="h-elips">Sports Partner</a>
                            </dd>  
                             <dd class="c-hide">
                            <a href="" class="h-elips">Ride Share</a>
                            </dd>    
</div>
</div>
<div class="row">
<div class="col-md-3 well">
  <h3><i class="fa fa-suitcase"></i>
Jobs</h3>
  <dd class="">
                            <a href="#" class="h-elips">Hospitality</a>
                            </dd>
                <dd class="">
                            <a href="#" class="h-elips">Construction &amp; Trades</a>
                            </dd>
                <dd class="">
                            <a href="#" class="h-elips">Sales &amp; Marketing</a>
                            </dd>
                <dd class="">
                            <a href="#" class="h-elips">Health,Sports &amp; Beauty</a>
                            </dd>
               
</div>
<div class="col-md-3 well">
  <h3><i class="fa fa-chain-broken"></i>
Electronics</h3>
                            <a href="" class="h-elips">Computers &amp; Software</a>
                            </dd>
                <dd class="">
                            <a href="" class="h-elips">Phones</a>
                            </dd>
                <dd class="">
                            <a href="" class="h-elips">Video Games &amp; Consoles</a>
                            </dd>
                <dd class="">
                            <a href="" class="h-elips">Audio</a>
                            </dd>
                 
</div>
<div class="col-md-3 well">
  <h3><i class="fa fa-eye"></i>

Real Estate</h3>
  <dd class="c-hide">
                            <a href="" class="h-elips">Room share</a>
                            </dd>  
                             <dd class="c-hide">
                            <a href="" class="h-elips">Property for Rent</a>
                            </dd>  
                             <dd class="c-hide">
                            <a href="" class="h-elips">Property for sale</a>
                            </dd>  
                             <dd class="c-hide">
                            <a href="" class="h-elips">flatshare - houseshare</a>
                            </dd>    
</div>
<div class="col-md-3 well">
  <h3><i class="fa fa-github-alt"></i>


Pets</h3>
  <dd class="c-hide">
                            <a href="" class="h-elips">Lost and Found</a>
                            </dd>  
                             <dd class="c-hide">
                            <a href="" class="h-elips">Pet products</a>
                            </dd>  
                             <dd class="c-hide">
                            <a href="" class="h-elips">Dogs and Pupies</a>
                            </dd>  
                             <dd class="c-hide">
                            <a href="" class="h-elips">Horses</a>
                            </dd>    
</div>
</div>

<a href="#" class="btn btn-block btn-lg btn-warning">Post you ad here <span class="fa fa-leaf"></span></a>
</div>
