<!DOCTYPE html>
<html>
<head>
  <title>Aust</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <script src="http://www.google.com/jsapi" language="javascript"></script>
  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= csrf_meta_tags %>
</head>
<body style="background-color:#CEF6F5;">

<!--<script language="javascript">
if (google.loader.ClientLocation != null) {
  alert(google.loader.ClientLocation.address.city);
  alert(google.loader.ClientLocation.address.region);
   alert(google.loader.ClientLocation.address.country);
    alert(google.loader.ClientLocation.address.country_code);

     
} else {
  alert("Not found");
}
</script>-->
<div class="span12" style = "background-color:#5882FA; height:150px" >
<img src="http://news.bbcimg.co.uk/media/images/71977000/jpg/_71977649_71825880.jpg" alt="..." class="img-circle" style="margin: 10px 0 0 100px;">

 
      <div class="row">
             <div class="col-md-4">
               
             </div>
              <div class="col-md-6">
               
              <a  class="btn btn-success" style = "color:white;">Post Ad</a>
           
            

               <b class="dropdown">
                  <button class="btn btn-success" id="dLabel" type="button" data-toggle="dropdown" aria-haspopup="true" role="button" aria-expanded="false">
                      My Activity
                      <span class="caret"></span>
                  </button>
                  <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                        <li><a href = "#"> Recently Watched</a></li>
                        <li><a href="#"> watch list  </a></li>
                        <li><a href="">My ad</a></li>
                        <li><a href=""> My messages </a>   </li>
                        <li><a href=""> Saved Search  </a>  </li>
                  </ul>
              </b> 
               <b class="dropdown">
                  <button class="btn btn-success" id="dLabel" type="button" data-toggle="dropdown" aria-haspopup="true" role="button" aria-expanded="false">
                      Browse Ad
                      <span class="caret"></span>
                  </button>
                  <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                         <li><a href = "#">Automotive</a></li>
                          <li><a href = "#">Pets</a></li>
                           <li><a href = "#"> Jobs</a></li>
                            <li><a href = "#"> Gardening & Jewellary</a></li>
                             <li><a href = "#"> </a></li>
                              


                  </ul>
              </b> 

             
          
             </div>
              <div class="col-md-2">
                 <% if user_signed_in? %>
            <%= link_to "Logout", destroy_user_session_path , :class => "btn btn-danger" , :style => "color:white;" , method: :delete %>
             <%else %>
              <a  class="btn btn-info" href="#signup" data-toggle="modal" data-target=".bs-example-modal-lg" style = "color:white;">Signin/Register</a>
           <% end %>
             </div>
          
             
           
             
 </div> 
        
</div>



<nav class="navbar navbar-default" style = "background-color:#123; margin-top:-22px;" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-megadropdown-tabs">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href= "#" > </a>
    </div>

    <div class="container">
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-megadropdown-tabs">
        <ul class="nav navbar-nav" style="padding-top:30px;">
          <li>
             <input type="text" class="form-control" placeholder="Find a.." style="width:200px; height:50px; margin-right:30px;">
          </li>
          
          <li style="padding-right:100px;">
            <select tabindex="2"class="form-control" style="width:200px; height:50px;">
                          <option value="0">All Categories</option>
                          <option value="18297">Antiques, Art &amp; Collectables</option>
                                    <optgroup><option value="20038">Antiques</option>
                                        <option value="20039">Art</option>
                                        <option value="20040">Collectables</option>
                                        <option value="20041">Other Antiques, Art &amp; Collectables</option>
                                        </optgroup><option value="9299">Automotive</option>
                                    <optgroup><option value="18461">Automotive Services</option>
                                        <option value="18374">Caravan &amp; Campervan</option>
                                        <option value="18320">Cars, Vans &amp; Utes</option>
                                        <option value="18460">Heavy, Farming &amp; Agriculture Equipment</option>
                                        <option value="20009">Mechanics &amp; Garages</option>
                                        <option value="18322">Motorcycles &amp; Scooters</option>
                                        <option value="18375">Other Automotive</option>
                                        <option value="18323">Parts &amp; Accessories</option>
                                        <option value="20037">Trailers</option>
                                        </optgroup><option value="18318">Baby &amp; Children</option>
                                    <optgroup><option value="18577">Baby Carriers</option>
                                        <option value="18578">Baby Clothing</option>
                                        <option value="18579">Baths</option>
                                        <option value="18465">Childcare Services</option>
                                        <option value="18580">Cots &amp; Bedding</option>
                                        <option value="18581">Feeding</option>
                                        <option value="18585">Toys - Indoor</option>
                                        <option value="20042">Kids Clothing</option>
                                        <option value="18582">Maternity Clothing</option>
                                        <option value="18584">Other Baby &amp; Children</option>
                                        <option value="18586">Toys - Outdoor</option>
                                        <option value="18583">Prams &amp; Strollers</option>
                                        <option value="20096">Safety</option>
                                        </optgroup><option value="18420">Boats &amp; Jet Skis</option>
                                    <optgroup><option value="20004">Boat Accessories &amp; Parts</option>
                                        <option value="20024">Jet Skis</option>
                                        <option value="20025">Kayaks &amp; Paddle</option>
                                        <option value="20026">Motorboats &amp; Powerboats</option>
                                        <option value="20027">Other Boats &amp; Jet Skis</option>
                                        <option value="20028">Sail Boats</option>
                                        <option value="20029">Tinnies &amp; Dinghies</option>
                                        </optgroup><option value="18393">Books, Music &amp; Games</option>
                                    <optgroup><option value="20043">Books</option>
                                        <option value="18307">CDs &amp; DVDs</option>
                                        <option value="18595">Board Games</option>
                                        <option value="18409">Musical Instruments</option>
                                        <option value="18596">Other Books, Music &amp; Games</option>
                                        </optgroup><option value="18308">Clothing &amp; Jewellery</option>
                                    <optgroup><option value="18575">Accessories</option>
                                        <option value="18574">Bags</option>
                                        <option value="20013">Dress Making &amp; Alteration Services</option>
                                        <option value="18601">Jewellery</option>
                                        <option value="18571">Men&#039;s Clothing</option>
                                        <option value="18573">Men&#039;s Shoes</option>
                                        <option value="18570">Women&#039;s Clothing</option>
                                        <option value="18572">Women&#039;s Shoes</option>
                                        </optgroup><option value="9300">Community</option>
                                    <optgroup><option value="18324">Activities &amp; Hobbies</option>
                                        <option value="18325">Classes</option>
                                        <option value="20000">Dance Partners</option>
                                        <option value="18483">Events</option>
                                        <option value="18486">Garage Sale</option>
                                        <option value="18330">Language Swap</option>
                                        <option value="18326">Lost &amp; Found</option>
                                        <option value="18441">Missed Connections</option>
                                        <option value="18327">Musicians &amp; Artists</option>
                                        <option value="18333">Other Community</option>
                                        <option value="18331">Sports Partners</option>
                                        <option value="18332">Rideshare &amp; Travel Partners</option>
                                        </optgroup><option value="20045">Electronics &amp; Computer</option>
                                    <optgroup><option value="18625">Audio</option>
                                        <option value="18394">Cameras</option>
                                        <option value="18309">Computers &amp; Software</option>
                                        <option value="20046">Other Electronics &amp; Computers</option>
                                        <option value="18313">Phones</option>
                                        <option value="18316">TV &amp; DVD players</option>
                                        <option value="18459">Video Games &amp; Consoles</option>
                                        </optgroup><option value="18361">Tickets</option>
                                    <optgroup><option value="20001">Bus, Train &amp; Plane</option>
                                        <option value="18484">Concerts</option>
                                        <option value="18488">Other Tickets</option>
                                        <option value="18485">Sport</option>
                                        <option value="20002">Theatre/Film</option>
                                        </optgroup><option value="18397">Home &amp; Garden</option>
                                    <optgroup><option value="20088">Appliances</option>
                                        <option value="18398">Garden</option>
                                        <option value="20103">Building Materials</option>
                                        <option value="18357">Builders &amp; Tradies</option>
                                        <option value="18442">Cleaning Services</option>
                                        <option value="20073">Furniture</option>
                                        <option value="20082">Home Decor</option>
                                        <option value="18430">Tools &amp; DIY</option>
                                        <option value="18403">Other Home &amp; Garden</option>
                                        </optgroup><option value="9302">Jobs</option>
                                    <optgroup><option value="18346">Construction &amp; Trades</option>
                                        <option value="18491">Sales &amp; Call Centres</option>
                                        <option value="18384">Farming &amp; Veterinary</option>
                                        <option value="18299">Finance</option>
                                        <option value="18385">Gardening &amp; Landscaping</option>
                                        <option value="18470">Graphic &amp; Web Design</option>
                                        <option value="18464">Health,Sports &amp; Beauty</option>
                                        <option value="18348">Healthcare &amp; Nursing</option>
                                        <option value="18342">Hospitality</option>
                                        <option value="18386">Housekeeping</option>
                                        <option value="18344">IT</option>
                                        <option value="20036">Real Estate &amp; Housing</option>
                                        <option value="20035">Legal</option>
                                        <option value="18463">Moving &amp; Removals</option>
                                        <option value="18350">Nanny &amp; Babysitting</option>
                                        <option value="18351">Office</option>
                                        <option value="18347">Other Jobs</option>
                                        <option value="18387">Recruitment &amp; HR</option>
                                        <option value="18449">Resume Writing Services</option>
                                        <option value="18353">Retail</option>
                                        <option value="18354">Sales &amp; Marketing</option>
                                        <option value="18388">Sports &amp; Healthclub</option>
                                        <option value="18355">Teaching &amp; Childcare</option>
                                        <option value="18428">Training &amp; Development</option>
                                        <option value="18490">Transport &amp; Logistics</option>
                                        <option value="18489">Volunteer</option>
                                        </optgroup><option value="18319">Miscellaneous Goods</option>
                                    <option value="18433">Pets</option>
                                    <optgroup><option value="18456">Birds</option>
                                        <option value="18435">Cats &amp; Kittens</option>
                                        <option value="18434">Dogs &amp; Puppies</option>
                                        <option value="20022">Fish</option>
                                        <option value="18632">Horses &amp; Ponies</option>
                                        <option value="18457">Livestock</option>
                                        <option value="18437">Lost &amp; Found</option>
                                        <option value="18436">Other Pets</option>
                                        <option value="18438">Pet Products</option>
                                        <option value="20018">Pet Services</option>
                                        <option value="20023">Rabbits</option>
                                        <option value="18649">Reptiles &amp; Amphibians</option>
                                        </optgroup><option value="9296">Real Estate</option>
                                    <optgroup><option value="18468">Business For Sale</option>
                                        <option value="20031">Land For Sale</option>
                                        <option value="18365">Office Space &amp; Commercial</option>
                                        <option value="18302">Other Real Estate</option>
                                        <option value="18366">Parking &amp; Storage</option>
                                        <option value="18367">Property For Sale</option>
                                        <option value="18467">Real Estate Services</option>
                                        <option value="18364">Property for Rent</option>
                                        <option value="18511">Roomshare</option>
                                        <option value="18294">Flatshare &amp; Houseshare</option>
                                        <option value="18295">Short Term</option>
                                        </optgroup><option value="9303">Services For Hire</option>
                                    <optgroup><option value="20010">Appliance &amp; Phone Repair</option>
                                        <option value="18461">Automotive</option>
                                        <option value="18357">Building &amp; Trades</option>
                                        <option value="18465">Childcare &amp; Nanny</option>
                                        <option value="18442">Cleaning</option>
                                        <option value="18358">Computer, Telecom &amp; Freelance</option>
                                        <option value="18446">Courses &amp; Training</option>
                                        <option value="20013">Dress Making &amp; Alterations</option>
                                        <option value="18443">Entertainment</option>
                                        <option value="18469">Graphic &amp; Web Design</option>
                                        <option value="18359">Health &amp; Beauty</option>
                                        <option value="18445">Landscaping &amp; Gardening</option>
                                        <option value="18466">Language &amp; Tutoring</option>
                                        <option value="20009">Mechanics &amp; Garages</option>
                                        <option value="18472">Musicians &amp; Artists</option>
                                        <option value="18360">Other Business Services</option>
                                        <option value="18447">Party &amp; Catering</option>
                                        <option value="18444">Personal Training</option>
                                        <option value="20018">Pet Services</option>
                                        <option value="18448">Photography &amp; Video</option>
                                        <option value="18467">Real Estate</option>
                                        <option value="18643">Removals &amp; Storage</option>
                                        <option value="18449">Resume</option>
                                        <option value="18451">Tax, Insurance &amp; Financial</option>
                                        <option value="18453">Taxi, Chauffeur &amp; Airport Transfer</option>
                                        <option value="18452">Travel Agent</option>
                                        <option value="18455">Wedding &amp; Venues</option>
                                        </optgroup><option value="18314">Sport &amp; Fitness</option>
                                    <optgroup><option value="18560">Bicycles</option>
                                        <option value="18561">Boxing &amp; Martial Arts</option>
                                        <option value="18562">Camping &amp; Hiking</option>
                                        <option value="18563">Fishing</option>
                                        <option value="18564">Golf</option>
                                        <option value="18565">Gym &amp; Fitness</option>
                                        <option value="18566">Sports Bags</option>
                                        <option value="18569">Other Sports &amp; Fitness</option>
                                        <option value="18444">Personal Training Services</option>
                                        <option value="18559">Racquet Sports</option>
                                        <option value="18567">Skateboards &amp; Rollerblades</option>
                                        <option value="20095">Snow Sports</option>
                                        <option value="18568">Surfing</option>
                                        </optgroup></select>
          </li>
          <li style="font-family:serif; color:white; height:100px; padding-right:100px;">
            <h2>In</h2>
          </li>
          <li style=" margin-right:30px;">
            
            <select class="form-control" style="width:200px; height:50px;">
                <option>Australia</option>
                <option>Australian Capital Territory</option>
                <option>South Australia</option>
                <option>Western Australia</option>
                </select>
          </li>
           <li style="padding-right:20px;">
            
            <select class="form-control" style="width:100px; height:50px;">
                <option>+0 km</option>
                 <option>+2 km</option>
                  <option>+5 km</option>
                   <option>+10 km</option>
                    <option>+20 km</option>
                     <option>+50 km</option>
                      <option>+100 km</option>
                </select>
          </li>
          <li>
            
           <a href="#" class="btn btn-lg btn-info"><span class="fa fa-search"></span> </a>
          </li>
        </ul>
       
        </div>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<%= yield %>
<hr/>
<div id="footer">
<div class="container text-center">
    <hr />
  <div class="row">
    <div class="col-lg-12">
      <div class="col-md-3">
        <ul class="nav nav-pills nav-stacked">
          <li><a href="#">About us</a></li>
          <li><a href="#">Blog</a></li>
        </ul>
      </div>
      <div class="col-md-3">
        <ul class="nav nav-pills nav-stacked">
          <li><a href="#">Product for Mac</a></li>
          <li><a href="#">Product for Windows</a></li>
        </ul>
      </div>
      <div class="col-md-3">
        <ul class="nav nav-pills nav-stacked">
          <li><a href="#">Web analytics</a></li>
          <li><a href="#">Presentations</a></li>          
        </ul>
      </div>
      <div class="col-md-3">
        <ul class="nav nav-pills nav-stacked">
          <li><a href="#">Product Help</a></li>
          <li><a href="#">Developer API</a></li>
        </ul>
      </div>  
    </div>
  </div>
  <hr>
    <div class="row">
        <div class="col-lg-12">
            <ul class="nav nav-pills nav-justified">
                <li><a href="/">© 2014 Company Name.</a></li>
                <li><a href="#">Terms of Service</a></li>
                <li><a href="#">Privacy</a></li>
            </ul>
        </div>
    </div>
</div>
</div>


<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
        <br>
        <div class="bs-example bs-example-tabs">
            <ul id="myTab" class="nav nav-tabs">

              <li class="active"><a href="#signin" data-toggle="tab"><span class="round-tabs one">
                                  <i class="fa fa-sign-in"></i>Signin
                            </span>  </a></li>
                         <li class=""></li>
              <li class=""><a href="#signup" data-toggle="tab"> <span class="round-tabs two">
                                  <i class="fa fa-user"></i>Signup
                            </span>   </a></li>
              
            </ul>
        </div>
      <div class="modal-body">
        <div id="myTabContent" class="tab-content">
        
        <div class="tab-pane fade active in" id="signin">
         <%= form_for(:user, :url => session_path(:user)) do |f| %>
  <div><%= f.label :email %><br />
  <%= f.email_field :email, autofocus: true , :class => "form-control" , :placeholder => "abcd@xyz.com" %></div>

  <div><%= f.label :password %><br />
    <%= f.password_field :password, autocomplete: "off" , :class => "form-control" , :placeholder => "*********" %></div>

  

  <div><%= f.submit "Sign in" , :class => "btn btn-success" %></div>
<% end %>

        </div>
        <div class="tab-pane fade" id="signup">
            <%= form_for(:user, :url => registration_path(:user)) do |f| %>
  <div><%= f.label :email %><br />
  <%= f.email_field :email, autofocus: true ,:class => "form-control" ,:placeholder => "abcd@xyz.com" %></div>

  <div><%= f.label :password %><br />
    <%= f.password_field :password, autocomplete: "off" , :class => "form-control" ,:placeholder=> "*********" %></div>

  <div><%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" , :class => "form-control" , :placeholder => "**********"%></div>

  <div><%= f.submit "Sign up" , :class=> "btn btn-warning"%></div>
  <% end %>
      </div>
    </div>
      </div>
      <div class="modal-footer">
      <center>
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </center>
      </div>
    </div>
  </div>
</div>
</body>
</html>
